<ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay" tdLoadingType="tdMode=">
    <div mat-dialog-content>
        
        <div class="app-popup-title">{{isEdit ? 'Edit Organization' : 'Add New Organization'}}</div>

        <br>
 
        <div fxLayout="column">

            <mat-form-field [appearance]="appearance">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="organizationModel.name" (ngModelChange)="onCheckCanSave()" required matInput required type="text" >
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px;">
            
            <button fxFlex="30" mat-flat-button [mat-dialog-close] class="btn-app-popup-cancel">
                Cancel
            </button>

            <div fxFlex="5"></div>

            <button fxFlex="30" mat-flat-button [disabled]="!isCanSave" class="btn-app-popup-create" (click)="onSave()">
                {{isEdit ? 'Save' : 'Create'}}
            </button>
            
        </div>

    </div>
</ng-template>