<ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay" tdLoadingType="tdMode=">
    <div mat-dialog-content>
        <div>
            <p class="text_title">
                {{isEdit ? 'Edit Organization' : 'Add New Organization'}}
            </p>
        </div>
        <div fxLayout="row" style="margin-top: 20px;">
            <div fxFlex>
                <mat-form-field [appearance]="appearance" style="width: 100%;">
                    <mat-label style="padding: 5px !important;">Organization Name</mat-label>
                    <input style="padding: 5px !important;" [(ngModel)]="organizationModel.name" (ngModelChange)="onCheckCanSave()" required matInput required type="text" >
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" style="margin-top: 20px;">
            <button 
                mat-raised-button
                [mat-dialog-close]
                class="btn_cancel">
                Cancel
            </button>
            <button 
                mat-raised-button 
                (click)="onSave()" 
                [disabled]="!isCanSave"
                class="btn_save">
                {{isEdit ? 'Save' : 'Create'}}
            </button>
        </div>
    </div>
</ng-template>