@import "../../styles/variable";

$login-background-color: #717171;

$login-footer-background-color: #232425;

// card
.app-login-card {
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.50) !important;
  border-radius: 0px;
  padding: 20px !important;
}

// set footer 
.app-login-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 10px auto;
  width: 100%;
  font-size: 14px;
  background-color: $login-footer-background-color;
  color: #92929d; 
}

.app-login-title {
  color: $app-primary;
  font-size: 28px;
  font-weight: 500;
}

.app-login-btn {
  background-color: $app-orenge;
  color: #ffffff;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}

//::ng-deep {

  .container ::ng-deep{
    height: 100%;
    background-color: $login-background-color;
    background-attachment: fixed;
    overflow: auto;
  }

  .form-control ::ng-deep{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none !important;
    transition: background-color .2s;
    color: $text-primary-color;
    background-color: #fff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 5px 12px;
    height: 32px;
    width: 330px;
    font-size: 1rem;
  }

  .form-control:focus ::ng-deep{
    border-color: #3F5498;
    transition: border-color .2s;
  }

  .text-delimiter ::ng-deep{
    color: black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 19px 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline ::ng-deep{
    height: 0 !important;
  }

  .logo ::ng-deep{
    height: 100px;
    width: auto;
    object-fit: contain;
  }

  :focus ::ng-deep{
    outline: 0 !important;
  }

  ::placeholder ::ng-deep{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5;
  }

  :-ms-input-placeholder ::ng-deep{ /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.5;
  }

  ::-ms-input-placeholder ::ng-deep{ /* Microsoft Edge */
    color: black;
    opacity: 0.5;
  }

  .mat-raised-button[disabled][disabled] ::ng-deep{
    color: rgba(255, 255, 255, 0.8);
  }

  .form-control[_ngcontent-oao-c32] {
    border-bottom: 0;
}

input:-internal-autofill-selected {
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

