<div class="container" fxLayoutAlign="center center">
    <mat-card style="border-radius: 20px; background-color: #f8f8f8 !important;">
        <mat-card-content class="push-lg">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img class="logo" src="../../assets/logo.png" alt="logo">
                <div class="content" fxLayout="column">
                  <div class="text-center ">
                      <p>
                          WebAdmin
                      </p>
                  </div>

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div fxLayout="column">
                          <div>
                          <input type="email" formControlName="username" style="border-radius: 15px !important; background-color: white;"
                                placeholder="Email"
                                class="form-control"/>
                          </div>
                          <div class="push-top push-bottom">
                              <input type="password" formControlName="password" class="form-control" style="border-radius: 15px !important; background-color: white;"
                                  placeholder="Password"
                                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                          </div>
                          <div class="push-top text-center push-bottom">
                              <button style="width: 100%; background-color: #ff974a; color: white;" mat-raised-button > Login </button>
                          </div>
                      </div>
                  </form>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<td-layout-footer-inner style="background: #232425; height: 3%;">
    <div class="text-center" style="color: #92929d; font-size: 14px; ">Copyright © 2020 Abstech Online Solutions Co., Ltd.</div>
    <div class="text-right" style="color: #ffffff; "> {{version}}</div>
    <a href="http://www.abstech.co.th" target="_blank"></a>
</td-layout-footer-inner>
