$text-primary-color: #333333;
$text-secondary-color: #737373;
$divider-color: #EDEDED;
$background: #EBECED;

$primary: #495EA1;
$primary-light: #f44336;
$accent: #ffffff;



$app-primary : #002d55; //title color

$app-sky: rgb(0, 120, 200); // สีฟ้า

$app-skysoft: #98cfff; // สีฟ้าอ่อน

$app-gold: #b99f5b; // สีทอง

$app-danger: #d83535; // สีแดง

$app-orenge: #ff974a; // สีส้ม

$app-gray: rgb(161, 161, 161); // สีเทา

$app-dark: #5b5b5b; // สีเทาเข้ม

$app-green: #00c700; // สีเขียว
