    <p class="app-title-content">User Manager</p>

     <mat-card class="app-card-content">
         
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">

            <td-search-box backIcon="arrow_back" class="push-right-sm app-table-search"
                           placeholder="Search..."
                           (searchDebounce)="search($event)" flex>
            </td-search-box>
            
            <button mat-flat-button class="btn-app-table-create" (click)="onOpenInfo()">
                Add New User
            </button>

        </div>

        <!-- <mat-divider></mat-divider> -->
    
        <td-data-table
                [data]="filteredData"
                [sortable]="true"
                [sortBy]="sortBy"
                [sortOrder]="sortOrder"
                (sortChange)="sort($event)"
                [columns]="configWidthColumns">
              
                <ng-template tdDataTableTemplate="id" let-row="row" let-column="column">
                    {{filteredData.indexOf(row) + 1}}
                </ng-template>
        
                <ng-template tdDataTableTemplate="name" let-row="row">
                    <span class="text-truncate text-app-orenge pointer" (click)="onOpenInfo(row)">
                        {{row.name||'-'}}
                    </span>
                </ng-template>
        
                <ng-template tdDataTableTemplate="email" let-row="row">
                    <span class="text-app-dark">
                        {{row.email||'-'}}
                    </span>
                </ng-template>
        
                <ng-template tdDataTableTemplate="createDate" let-row="row">
                    <span class="text-truncate text-app-dark">
                        {{(row.createDate | date : 'dd/MM/yyyy') || '-'}}
                    </span>
                </ng-template>
        
                <ng-template tdDataTableTemplate="roleId" let-row="row">
                    <span class="text-truncate text-app-dark">
                        {{row.roleId}}
                    </span>
                </ng-template>
        
                <ng-template tdDataTableTemplate="status" let-row="row">
                    <mat-chip-list>
                        <mat-chip *ngIf="row.status == 'active'" class="chip-sm-app-green chip-app-fix-size">
                            Active
                        </mat-chip>
                        <mat-chip *ngIf="row.status !== 'active'" class="chip-sm-app-gray chip-app-fix-size">
                            Inactive
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
        
                <ng-template tdDataTableTemplate="operation" let-row="row">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="row.status != 'active'" mat-menu-item (click)="active(row, 'active')">
                            <span class="text-app-orenge">Active</span>
                        </button>
                        <button *ngIf="row.status != 'inactive'" mat-menu-item (click)="active(row, 'inactive')">
                            <span class="text-app-orenge">Inactive</span>
                        </button>
                        <button mat-menu-item (click)="resetPassword(row)">
                            <span class="text-app-orenge">Reset Password</span>
                        </button>
                    </mat-menu>
                </ng-template>
        </td-data-table>

        <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay" tdLoadingType="linear"></ng-template>

        <div class="md-padding" *ngIf="!isLoading && filteredData.length == 0" layout="row" layout-align="center center">
                <div layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
                    <mat-icon matListAvatar class="text-super push-bottom">chrome_reader_mode</mat-icon>
                    <h2>No user found.</h2>
                    <h3>You have not user.</h3>
                </div>
        </div>


        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                <span hide-xs>Rows per page:</span>
                <mat-select [style.width.px]="60" [(ngModel)]="pageSize">
                  <mat-option *ngFor="let size of [10, 20, 50,100,200,500]" [value]="size">
                    {{size}}
                  </mat-option>
                </mat-select>
                {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>

    </mat-card> 
    