<ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay" tdLoadingType="tdMode=">
    <div mat-dialog-content>

        <div class="app-popup-title">{{isEdit ? 'Edit Client' : 'Add New Client'}}</div>

        <br>

        <div fxLayout="column">

            <mat-form-field [appearance]="appearance" style="width: 100%;">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="clientModel.name" (ngModelChange)="onCheckCanSave()" required matInput required type="text">
            </mat-form-field>

            <mat-form-field [appearance]="appearance" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input [formControl]="emailControl" (ngModelChange)="onCheckCanSave()" matInput required type="text">
            </mat-form-field>

            <mat-form-field [appearance]="appearance" style="width: 100%;">
                <mat-label>organization</mat-label>
                  <input type="text" aria-label="Assignee" required matInput [formControl]="organizationControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px;">
            
            <button fxFlex="30" mat-flat-button [mat-dialog-close] class="btn-app-popup-cancel">
                Cancel
            </button>

            <div fxFlex="5"></div>

            <button fxFlex="30" mat-flat-button [disabled]="!isCanSave" class="btn-app-popup-create" (click)="onSave()">
                {{isEdit ? 'Save' : 'Create'}}
            </button>
            
        </div>
 
    </div>

</ng-template>