/* You can add global styles to this file, and also import other style files */
@import './styles/styles.scss';
@import './styles/theme.scss';
@import './styles/variable.scss';

//.mat-dialog-content {
//  //max-height: 80vh !important;
//  //overflow: hidden !important;
//}

@font-face {
  font-family: DB Helvethaica;
  src: url("assets/fonts/DB_Helvethaica_X_0.ttf");
}

@font-face {
  font-family: "Angsana New";
  src: url("assets/fonts/angsa.ttf");
}

@font-face {
  font-family: "SiPHPrototype";
  src: url("assets/fonts/SiPH-Prototype.ttf");
}

$colors: (

  app-primary : $app-primary,

  app-sky: $app-sky,

  app-gold: $app-gold,

  app-danger: $app-danger,

  app-gray: $app-gray,

  app-orenge: $app-orenge,

  app-dark: $app-dark,

);

@mixin color-modifiers($attribute: 'color') {
  @each $name, $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }
}

.text {
  @include color-modifiers(color);
}

.bg {
  @include color-modifiers(background-color);
}

.border {
  @include color-modifiers(border-color);
}

// .badeg {
//   @include color-modifiers(background-color);
// }

.pointer {
  cursor: pointer;
}

/* .td-data-table-heading {
  padding: 0 10px !important;
}

.td-data-table-cell-content-wrapper {
  padding: 0 10px !important;;
}

.custom-dialog-container {
  .mat-dialog-container {
    padding: 0 !important;
  }

  .mat-card-content {
    margin-bottom: 0 !important;
  }
}

.mat-form-field-label {
  line-height: 24px !important;
}

.mat-form-field-label-wrapper {
  top: -1.2em !important;
}

.mat-error {
  line-height: 16px !important;
}

.mat-form-field-subscript-wrapper {
  font-size: 70% !important;
  margin-top: 0.3666667em !important;;
}

[_nghost-c1] .td-expansion-panel {
  border-bottom: 0px solid #ffffff !important;
}

.mat-title{
  margin: 8px !important;
}

.td-data-table-cell {
  font-family: 'Sarabun', sans-serif !important;
}

.td-data-table-column {
  font-family: 'Sarabun', sans-serif !important;
}

.mat-toolbar.mat-primary {
  background: white;
}

* {
  font-family: 'SiPHPrototype';
}

.c-white {
  color: #fff;
}

.c-sky {
  color: rgb(39, 212, 255);
}

.a-unstyle {
  text-decoration: none !important;
}
 
::ng-deep {
  .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 50px !important;
  }

  appearance-outline .mat-form-field-suffix {
    top: 0em !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.calenda-label-hover:hover{
  color: rgb(90, 195, 255) !important;
} */

.mr {
  margin-right: 10px !important;
}

.ml {
  margin-left: 10px !important;
}

.mt {
  margin-top: 10px !important;
}

.mb {
  margin-bottom: 10px !important;
}

/* .title-pop-size {
  font-size: 20px;
} */

/* button */

.c-app-primary {
  color: $app-primary;
}

.btn-app-primary {
  background-color: $app-primary;
  color: #ffffff;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}

.btn-app-orenge {
  background-color: $app-orenge;
  color: #ffffff;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}

.btn-app-gold-outline {
  background-color: #ffffff;
  color: $app-gold!important;
  border: solid 1px $app-gold !important;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}

.btn-app-primary-outline {
  background-color: #ffffff;
  color: $app-primary!important;
  border: solid 1px $app-primary !important;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}

.btn-app-orenge-outline {
  background-color: #ffffff;
  color: $app-orenge!important;
  border: solid 1px $app-orenge !important;
  border-radius: 10px !important;
  min-width: 120px;
  height: 38px;
}



.btn-app-table-create {
  @extend .btn-app-orenge;
}

.btn-app-popup-create {
  @extend .btn-app-orenge;
}

.btn-app-popup-cancel {
  @extend .btn-app-orenge-outline;
}



/* CARD */
.app-title-content {
  color: $app-orenge;
  font-size: 2vw;
  margin-bottom: 0px;
  padding-left: 10px
}

.app-card-content {
  font-size: 1vw;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.20) !important;
  padding: 20px !important;
}

.app-title-line {
  border-bottom: solid 1px $app-primary;
  margin-bottom: 10px;
}

.d-none {
  display: none;
}



/* POPUP */
.app-popup-title {
  color: $app-orenge;
  font-size: 1.5vw;
  font-weight: bold;
}



/* TABLE */

// table search icon
.td-search-icon > span > .mat-icon {
  color: $app-orenge !important;
  font-size: 35px !important;
  line-height: 35px !important;
}

// table header
.td-data-table-heading {
  color: $app-orenge !important;
}

// table sort-icon
.td-data-table-sort-icon {
  color: $app-orenge !important;
}

// table search input
.td-search-input-field > .mat-form-field-wrapper > .mat-form-field-flex {
  margin-top: 9px;
}
 
// table header line
.td-data-table {
  border-top: 2px solid $app-orenge;
}

.td-data-table-scrollable {
  border-top: 0px !important;
}

// table header height
.td-data-table-column-row {
  height: 40px !important;
}

// chip
.chip-sm-app-sky {
  background-color: $app-sky !important;
  color: white !important;
  min-height: 0px !important;
  padding: 10px 30px !important;
}

.chip-sm-app-green {
  background-color: $app-green !important;
  color: white !important;
  min-height: 0px !important;
  padding: 10px 30px !important;
}

.chip-sm-app-gray {
  background-color: $app-gray !important;
  color: white !important;
  min-height: 0px !important;
  padding: 10px 30px !important;
}

.chip-app-fix-size {
  width: 100px !important;
  justify-content: center;
}

