<td-layout class="noprint">

    <td-layout-manage-list #manageList [opened]="_media.registerQuery('gt-sm') | async"
                            [mode]="(_media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                            [sidenavWidth]="(_media.registerQuery('gt-xs') | async) ? '250px' : '96%'">
          
        <mat-nav-list td-sidenav-content style="padding-top: 0px;">
            
            <div style="background-color:white; height: 232px; padding-top: 20px;" fxLayout="column" fxLayoutAlign="start center">
                <img class="logo" src="assets/logo.png" alt="logo">
                <div class="app-home-title">TESTMAN ADMIN PANEL</div>
            </div>

            <a class="border-bottom" mat-list-item
                (click)="route = 'dashboard';name = 'dashboard'"
                [ngClass]="{'menu_selected': 'dashboard' == route}">
                <div [ngClass]="{'select_bar': 'dashboard' == route}"></div>
                <img *ngIf="'dashboard' != route" class="icon_image" src="assets/icon/ic_dashboard.png" >
                <img *ngIf="'dashboard' == route" class="icon_image" src="assets/icon/ic_dashboard_selected.png" >
                <div class="text_color" style="margin-left: 15px">Dashboard</div>
            </a>
            <a class="border-bottom" mat-list-item [routerLink]="'user/list'"
                (click)="route = 'user'; name = 'user'"
                [ngClass]="{'menu_selected': 'user' == route}">
                <div [ngClass]="{'select_bar': 'user' == route}"></div>
                <img *ngIf="'user' != route" class="icon_image" src="assets/icon/ic_dashboard.png" >
                <img *ngIf="'user'  == route" class="icon_image" src="assets/icon/ic_dashboard_selected.png" >
                <div style="margin-left: 15px;">User Manager</div>
            </a>
            <a class="border-bottom" mat-list-item [routerLink]="'organization/list'"
                (click)="route = 'organization'; name = 'organization'"
                [ngClass]="{'menu_selected': 'organization' == route}">
                <div [ngClass]="{'select_bar': 'organization' == route}"></div>
                <img *ngIf="'organization' != route" class="icon_image" src="assets/icon/ic_dashboard.png" >
                <img *ngIf="'organization'  == route" class="icon_image" src="assets/icon/ic_dashboard_selected.png" >
                <div style="margin-left: 15px;">Organization Manager</div>
            </a>
            <a class="border-bottom" mat-list-item [routerLink]="'client/list'"
                (click)="route = 'client'; name = 'client'"
                [ngClass]="{'menu_selected': 'client' == route}">
                <div [ngClass]="{'select_bar': 'client' == route}"></div>
                <img *ngIf="'client' != route" class="icon_image" src="assets/icon/ic_dashboard.png" >
                <img *ngIf="'client'  == route" class="icon_image" src="assets/icon/ic_dashboard_selected.png" >
                <div style="margin-left: 15px;">Client Manager</div>
            </a>
            <a class="border-bottom" mat-list-item [routerLink]="'test/list'"
                (click)="route = 'test'; name = 'test'"
                [ngClass]="{'menu_selected': 'test' == route}">
                <div [ngClass]="{'select_bar': 'test' == route}"></div>
                <img *ngIf="'test' != route" class="icon_image" src="assets/icon/ic_dashboard.png" >
                <img *ngIf="'test'  == route" class="icon_image" src="assets/icon/ic_dashboard_selected.png" >
                <div style="margin-left: 15px;">Test Manager</div>
            </a>
        </mat-nav-list>

        <mat-card style="margin: 0px; width: 100%; height: 70px; border-radius: 0px; box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.32);">
            <div layout="row" layout-align="end center" style="padding-top: 15px;">
                <div class="text-right"  fxLayout="row" fxLayoutAlign="end center" >
                    <div fxLayout="column" >
                        <div class="displayname">{{userModel?.displayName }}</div>
                        <div class="role">{{userModel?.roleName}}</div>
                    </div>
                    <button class="menu-profile" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </div>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <span class="text-app-orent">ออกจากระบบ</span>
                </button>
            </mat-menu>
        </mat-card>

        <div style="margin: 2vw; ">
            <router-outlet></router-outlet>
        </div>

        <td-layout-footer-inner class="app-home-footer">
            <div class="text-center">Copyright © 2020 Abstech Online Solutions Co., Ltd.</div>
            <a href="http://www.abstech.co.th" target="_blank"></a>
        </td-layout-footer-inner>

    </td-layout-manage-list>

</td-layout>
